.x1 {
  z-index: -19;
}
.x2 {
  z-index: 17;
  background: #0f0;
}
.x3 {
  z-index: 28;
  background: #0f0;
}
.x4 {
  z-index: -58;
}
.x5 {
  z-index: 69;
  background: #0f0;
}
.x6 {
  z-index: -31;
}
.x7 {
  z-index: 48;
  background: #0f0;
}
.x8 {
  z-index: 14;
  background: #0f0;
}
.x9 {
  z-index: -84;
}
.x10 {
  z-index: 49;
  background: #0f0;
}
