html,
body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  height: auto;
  height: 200%;
  width: 100%;
  text-align: center;
  background-image: radial-gradient(ellipse closest-side at 50% 50%, #393e44, #343233);
  background-repeat: no-repeat;
  background-color: #343233;
  background-size: 100% 1000px;
  background-position: center -120px;
  animation: sunset 45s ease infinite;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.3em;
  letter-spacing: 0.05em;
  font-weight: 200;
  color: #efeae1;
}
.wrapper {
  margin: auto 0;
  overflow: hidden;
}
.top-bar {
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  margin: 0 auto;
  color: #efeae1;
  width: 100%;
  background-color: #252222;
  text-align: left;
  height: 43px;
  padding: 5px 0;
  background-color: #584b4f;
  font-size: 14px;
}
.nav-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  display: inline-block;
  list-style-type: none;
}
li {
  padding-right: 5px;
  box-sizing: border-box;
  display: inline-block;
}
.nav-links {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #efeae1;
}
canvas {
  vertical-align: top;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
hr {
  width: 100%;
}
/*nav
  font-size 18px
  height auto
  width 100%
  color colorWhite
  padding 0px
  margin 0px
  text-align center
  div
    width 100%
    text-align center
  ul
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align center
   li
    //display: inline
    text-align center
    width: auto
    float left
    a
     display: block;
     padding: 8px;
     background-color: #dddddd;
     &:link
      color colorWhite
      background rgba(0,0,0,0)
     &:visited
      color colorWhite
     &:active
      color colorWhite
     &:hover
      color colorWhite

#wrapper
  width bodyWidth
  //height auto
  margin auto
  margin-top 10px
  color colorWhite
  font-family 'Open Sans', Arial, Helvetica Neue, sans-serif
  font-size 18px
  line-height 1
  letter-spacing 1px


@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

@keyframes sunset
  0%
    transform: rotate(  0 deg )
  100%
    transform: rotate(  360 deg )
*/
