// out: css/stars.css

random(min, max)
  return floor(math(0, 'random') * max - min + 1 + min);

multiple-box-shadow(n)
  color = #FFF
  value1 = random(0, 2000)px
  value2 = random(0, 2000)px
  value3 = value1 value2 color
  for i in 2 .. n
    value1 = random(0, 2000)px
    value2 = random(0, 2000)px
    value3 = value3, value1 value2 color
  return value3

shadows-small  = multiple-box-shadow(700)
shadows-medium = multiple-box-shadow(200)
shadows-big    = multiple-box-shadow(100)

#stars
  width 1px
  height 1px
  background transparent
  box-shadow shadows-small
  animation	 animStar 100s linear infinite
  &after
    content " "
    position absolute
    top 2000px
    width 1px
    height 1px
    background transparent
    box-shadow shadows-small

#stars2
  width 2px
  height 2px
  background transparent
  box-shadow shadows-medium
  animation	 animStar 140s linear infinite
  &after
    content " "
    position absolute
    top 2000px
    width 2px
    height 2px
    background transparent
    box-shadow shadows-medium

#stars3
  width 3px
  height 3px
  background transparent
  box-shadow shadows-big
  animation	 animStar 180s linear infinite
  &after
    content " "
    position absolute
    top 2000px
    width 3px
    height 3px
    background transparent
    box-shadow shadows-big
