// out: css/styles2.css

html, body
  font-size 30px
  position absolute
  margin 0
  padding 0
  text-align center
  text-transform uppercase
  width 100%
  height 100%
  
  background linear-gradient(307deg, #ee4111, #7e2810, #0f0f0f, #142444, #1a3a7a)
  background-size 600% 600%
  animation sunset 50s ease infinite


canvas
  vertical-align top
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  z-index 1

nav
  font-size 18px

#wrapper
  width 65%
  height auto
  margin auto
  margin-top 10px
  color #dfdfdf
  font-family 'Open Sans', Arial, Helvetica Neue, sans-serif
  font-size 16px
  line-height 0.9
  letter-spacing 3px
  font-weight 300

  @keyframes sunset
    0%
      background-position: 99% 0%
    50%
      background-position: 2% 100%
    100%
      background-position: 99% 0%
